{% load staticfiles %}
{% if dmodels_list %}
<head>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/themes/smoothness/jquery-ui.css" />
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>

<link rel="stylesheet" href="{% static "dmodels/styles.css" %}">
<script type="text/javascript" src="{% static "dmodels/utils.js" %}"></script>

</head>

<body>
<div id="left_content">
    <ul>
    {% for el in dmodels_list %}
        <li><a href="{{ el.table_name }}/">{{ el.table_title }}</a></li>
    {% endfor %}
    </ul>
</div>
<div id="right_content">
	<div>
		
	</div>	
</div>
<!--        
<div id="right_content">
	<table>
	<tbody id="RighTable">
		...
	</table>	
	<p>
	<form>
	<fieldset id="RightFieldSet">
		...
	</fieldset>
	<input type='reset'>
	<input type='submit'>
	</form>
</div>	
-->


<script type="text/javascript">


function editCell_Begin( _src_td ) {

	if (GLOBAL_STATE.isError) {
		return;
	};
//	#2014.08.25
	if (GLOBAL_STATE.isEditCell) {
		GLOBAL_STATE.nextCell = _src_td;
		return;
	};

//	var strVal = _src_td.innerHTML;
	var strVal = _src_td.textContent;

	var elIn = document.createElement("INPUT");
	elIn.setAttribute("type", "text");
	elIn.value = strVal;
//	elIn.className = _src_td.className; // 2014.09.08
	elIn.className = 'CellInput'; // 2014.09.08

	var elTR = _src_td.parentNode;
	elTR.replaceChild( elIn, _src_td );

	elIn.focus();
	elIn.select();


	GLOBAL_STATE.isEditCell = true;
	GLOBAL_STATE.current_td = _src_td;
	GLOBAL_STATE.current_input = elIn;


	// datepicker for cell
// 2014.09.08
//	if (_src_td.className == 'date') {
	var fields = GLOBAL_STATE['fields'];
	var i_field = _src_td.dataset['field'];

	if (fields[i_field]['type'] == 'date') {
//		var prevDate = GLOBAL_STATE.current_input.value;
		$(function() {
			$( GLOBAL_STATE.current_input ).datepicker( {
				onSelect: function(_date, _inst) {

					GLOBAL_STATE.isCellDatepicker = false;
					editCell_TrySaveFinish( );	
        		},
				onClose: function(_date, _inst) {

					if (GLOBAL_STATE.isCellDatepicker) {
						editCell_Cancel( );
					};
					GLOBAL_STATE.isCellDatepicker = false;
        		},
			});

			GLOBAL_STATE.isCellDatepicker = true;
			$( GLOBAL_STATE.current_input ).datepicker( "show" );
		});
	};

};

function editCell_TrySaveFinish( ) {
//	console.log( "editCell_TrySaveFinish in " );

	if (!GLOBAL_STATE.isEditCell) {
		return;
	};
	if ( GLOBAL_STATE.isCellDatepicker) {
		return;
	};


	var src_td = GLOBAL_STATE.current_td;
	var elIn = GLOBAL_STATE.current_input;
//	if (elIn.value == src_td.innerHTML) {
	if (elIn.value == src_td.textContent) {
		editCell_Cancel();
		return;
	};

	var elTR = elIn.parentNode;

	var nField = src_td.dataset['field'];
	var field_def = GLOBAL_STATE['fields'][nField];

	var field_name = field_def.id;
	var field_title = field_def.title;

//	var field_type = src_td.className;
	var field_type = field_def.type;

	var field_value = elIn.value;

//	var row_id = elTR.firstChild.innerHTML;
	var row_id = elTR.firstChild.textContent;

//	var model = GLOBAL_STATE['model'];

//		console.log('blur');
	var values = [{ 
		'field': field_name, 
		'value': field_value,
//		'type': field_title,
		'type': field_type,
		'title': field_title, 
		'el': elIn
	}];

//	if ( isValidValues(values) ) {
	if ( isValidAndMarkError(values) ) {

		var data = {};
		for (var v=0, v_length=values.length; v < v_length; v++ ) {
			data[ values[v]['field'] ] = values[v]['value'];
		};

		$.ajax({
			url: 'ajax_change/' + GLOBAL_STATE['model'] + '/' + row_id + '/', 
			data: data,
			type: 'POST', // 2014.09.03
//			dataType : "json",
			success: function  (_jsondata) {
//				console.log('editCell_TrySaveFinish success ');

//				src_td.innerHTML = field_value; // 2014.09.05
				src_td.textContent = field_value;
				elTR.replaceChild( src_td, elIn );
				GLOBAL_STATE.isEditCell = false;
				GLOBAL_STATE.isError = false; // 2014.08.31
				if (GLOBAL_STATE.nextCell) {
					var temp_td = GLOBAL_STATE.nextCell;
					GLOBAL_STATE.nextCell = "";
					editCell_Begin( temp_td );
				};
			},
			error: function( xhr, status, errorThrown ) {
//				console.log('editCell_TrySaveFinish error ');
				GLOBAL_STATE.isError = true;
			},
		});
	}else{
//		console.log('editCell_TrySaveFinish isValidAndMarkError error ');
		GLOBAL_STATE.isError = true;
	};
};

function editCell_Cancel( ) {

	if (GLOBAL_STATE.isEditCell) {

		var elTR = GLOBAL_STATE.current_input.parentNode;
		elTR.replaceChild( GLOBAL_STATE.current_td, GLOBAL_STATE.current_input );

		GLOBAL_STATE.isEditCell = false;
		GLOBAL_STATE.isError = false;
	};
};


function load_RightContent(_model) {

	$.ajax({
		url: 'ajax_get_list/' + _model,
		dataType : "json",
		success: function  (_json) {

			GLOBAL_STATE['model'] = _json.model;
			GLOBAL_STATE['fields'] = _json.fields
			GLOBAL_STATE.isEditCell = false;		
			GLOBAL_STATE.isError = false;		

			draw_RightContent( $("#right_content")[0], _json );

			// datepicker for form
			var form = $('#AddNewForm')[0];
			var field;
			for (var i=0, i_length = form.length; i < i_length; i++ ) {
				field = form.elements[i];
				if (( field.nodeName == 'INPUT') && (field.dataset['type'] == 'date') ) {
					$(function() {
						$( field ).datepicker();
					});
				};
			};
		},
		error: function( xhr, status, errorThrown ) {

		},
	});
};


function add_NewRow() {

	// validate
	var values = [];
	var form = $('#AddNewForm')[0];
	var field;
	for (var i=0, i_length = form.length; i < i_length; i++ ) {
		field = form.elements[i];
//		if (( field.nodeName == 'INPUT') && (field.className in {'int':0, 'char':0, 'date':0}) ) {
		if (( field.nodeName == 'INPUT') && (field.dataset['type'] in {'int':0, 'char':0, 'date':0}) ) {
			values.push( { 
					'field': field.name,
					'value': field.value, 
//					'type': field.className,
					'type': field.dataset['type'],
					'title': field.dataset['title'],
//					'el': field.parentNode,
					'el': field,
			});
		};
	};

//	if ( isValid( values ) ) {
	if ( isValidAndMarkError( values ) ) {

		var data = {};
		for (var v=0, v_length=values.length; v < v_length; v++ ) {
			data[ values[v]['field'] ] = values[v]['value'];
		};

		$.ajax({
			url: 'ajax_add/' + GLOBAL_STATE['model'] + '/', 
			data: data,
			type: 'POST', // 2014.09.03
			dataType : "json",
			success: function  (_jsondata) {

				if (_jsondata['model'] !== GLOBAL_STATE['model']) {
					return;
				};
				form.reset();
				drawTableRows( $("#tbody_id")[0], _jsondata['data'], GLOBAL_STATE['fields'] );
			},
			error: function( xhr, status, errorThrown ) {
//				console.log('add_NewRow error');
//				GLOBAL_STATE.isError = true;
			},
		});

	}else{

	};
};


$( "#left_content" ).on( "click", "a", function( _event ) {

	_event.preventDefault();
	var el_a = _event.target || _event.scrElement;

	var arHref = el_a.href.split( "/" );
	var model = arHref[ arHref.length - 2 ] ;

	load_RightContent( model );
});

//$( "#right_content" ).on( "click", "td.int, td.char, td.date", function( _event ) {
$( "#right_content" ).on( "click", ".Cell", function( _event ) {

	_event.preventDefault();
	var el_td = _event.target || _event.scrElement;

//	console.log('right click');
//	console.log(el_td);
	editCell_Begin( el_td );
});
//$( "#right_content" ).on( "blur", "tr input.int, tr input.char, tr input.date", function( _event ) {
$( "#right_content" ).on( "blur", ".CellInput", function( _event ) {

	_event.preventDefault();

//	if ( ! GLOBAL_STATE.isCellDatepicker) {
//		editCell_TrySaveFinish();
//	};
	editCell_TrySaveFinish();
});
$( "#right_content" ).on( "keydown", ".CellInput", function( _event ) {

	if (_event.keyCode == 27) { // ESC
		editCell_Cancel();
	}else if(_event.keyCode == 13) { // Enter
		editCell_TrySaveFinish();
	};
});
$( document ).on( "keydown", function( _e ) {

	if (_e.keyCode == 27) { // ESC
		editCell_Cancel();
	};
} );


//$( "#right_content" ).on( "click", "input#AddNewButton", function( _event ) {
//	console.log( "AddNewButton click" );
$( "#right_content" ).on( "submit", "#AddNewForm", function( _event ) {
//	console.log( "AddNewButton submit" );
	_event.preventDefault();

	add_NewRow();
});
$( "#right_content" ).on( "reset", "#AddNewForm", function( _event ) {
//	console.log( "AddNewForm reset" );

	$('#AddNewForm input').removeClass('error_field');
//	$('#AddNewForm div').removeClass('error_field');
});



var GLOBAL_STATE = { 
	'model': "",
	'fields': [],

	'isEditCell': false,
	'isError': false,
	'isCellDatepicker': false,
	'current_td': null,
	'current_input': null,
	'nextCell': null,
}; 



function getCookie( _name ) {
	var res = null;

	dictCookie = {};
	if (document.cookie && document.cookie != '') {
		var ar_kv = document.cookie.split(";");
		var str_kv, kv;
		for (var k=0, k_length=ar_kv.length; k < k_length; k++) {
			str_kv = ar_kv[k]
			str_kv = str_kv.trim();
			kv = str_kv.split('=');
			dictCookie[ kv[0] ] = kv[1];
		}
	};

	res = dictCookie[_name];

	return res;
};

var csrftoken = getCookie( 'csrftoken' );
//console.log( 'csrftoken ' + csrftoken );

$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if ((settings.type == 'POST') && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
});

$("#left_content ul li:first a").trigger("click");

</script>
<body>

{% else %}
    <p>No dmodels are available.</p>
{% endif %}