{% if dmodels_list %}

<head>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/themes/smoothness/jquery-ui.css" />
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>

<style type="text/css">

#left_content {
	float: left;
	width: 20%;
}

#right_content {
	float: right;
	width: 80%;
}

table {
	border: 1px solid gray;
}

th, td {
	padding: 3px; 
    border: 1px solid gray; 
}

td.char, td.int, td.date {
	width:250;
}

.error_field {
	margin: 2px;
	border: 2px solid red;
}

</style>

</head>

<body>
<div id="left_content">
    <ul>
    {% for el in dmodels_list %}
        <li><a href="{{ el.table_name }}/">{{ el.table_title }}</a></li>
    {% endfor %}
    </ul>
</div>
<div id="right_content">
	<div>
		
	</div>	
</div>
<!--        
<div id="right_content">
	<table>
	<tbody id="RighTable">
		...
	</table>	
	<p>
	<form>
	<fieldset id="RightFieldSet">
		...
	</fieldset>
	<input type='button' id='AddNewButton'>
	</form>
</div>	
-->


<script type="text/javascript">


function isValidValues(_values) {

	function isValedNumber( _str, _min, _max, _strlen ) {

		var res_isValedNumber = true,
			intValue = parseInt(_str, 10 );


		if (isNaN(intValue)) {
			res_isValedNumber = false;
		};

		if (res_isValedNumber) {
			pos_intVal = Math.max( -intValue, intValue ); //?
			norm_strVal = "" + pos_intVal;

			if (_strlen) {
				for ( var i = 0, i_bound = _strlen - norm_strVal.length; i < i_bound; i++ ) {
					norm_strVal = "0" + norm_strVal;
				};
			};
			if (norm_strVal !== _str) {
				res_isValedNumber = false;
			}
		}

		if (res_isValedNumber && _strlen) { // len != 0
			if ( _str.length != _strlen ) {
				res_isValedNumber = false;
			};
		};

		if (res_isValedNumber && (_min != undefined)) {
			if ( ! (_min <= intValue ) ) {
				res_isValedNumber = false;
			}
		};
		if (res_isValedNumber && (_max != undefined) ) {
			if ( ! ( intValue <= _max ) )  {
				res_isValedNumber = false;
			}
		};

		return res_isValedNumber;
	};

	function isValedDate( _strVal ) {
		var res_isValedDate = true;

		var aData = _strVal.split("/");

		res_isValedDate = (aData.length == 3);

		var _YYYY, _mm, _dd;
		if (res_isValedDate) {
			_mm = aData[0];
			_dd = aData[1];
			_YYYY = aData[2];

			res_isValedDate = ( isValedNumber( _YYYY, 0, 9999, 4 ) 
				&& isValedNumber( _mm, 1, 12, 2 ) 
				&& isValedNumber( _dd, 1, 31, 2 ) );
		};

		if (res_isValedDate) {
			var iY = parseInt(_YYYY),
				im = parseInt(_mm) - 1,
				id = parseInt(_dd);

			var d = new Date( iY, im, id );

//			var dY = d.getYear(),
			var dY = d.getFullYear(),			
				dm = d.getMonth(),
				dd = d.getDate();

			res_isValedDate = ( ( dY == iY) && (dm == im) && (dd == id) );
		};

		return res_isValedDate;
	};


	var messages = [];

	var field, type, title, 
		isError, strMessage;
	for (var v=0, v_length=_values.length; v < v_length; v++ ) {
		field = _values[v];

		type = field['type'];
		title = field['title'];

		strVal = field['value'];
		strVal = strVal.trim()

		isError = false;
		strMessage = "";
		if (type == "char") {
			if (strVal == "") {
				isError = true;
				strMessage = "(" + title + " ) is empty.";
			};
		}else if (type == "int") {
			if ( ! isValedNumber( strVal, 1 ) ) {
				isError = true;
				strMessage = "(" + title + " ) is not positive integer number"
			};
		}else if (type == "date") {
			if ( ! isValedDate( strVal ) ) {
				isError = true;
				strMessage = "(" + title + " ) is not valid date"
			};
		};

		field['isError'] = isError;
		field['ErrorMessage'] = strMessage;

		if (isError) {
			messages.push(strMessage);	
		}
	};

	_values['messages'] = messages;

	return (messages.length == 0 );
};

function isValidAndMarkError( _values ) {

	var res = isValidValues( _values );

	var field;
	for (var v=0, v_length=_values.length; v < v_length; v++ ) {
		field = _values[v];
//		if (field['isError']){
//			$(field['el']).addClass('error_field');			
//		};
		$(field['el']).toggleClass('error_field', field['isError'] );
	};

	return res;
};


function drawTable(_data) {

	var elTable, elTBody;	
	var elTR, elTD;

	elTable = document.createElement('table');	

	elTBody = document.createElement('tbody');	
	elTBody.id = "tbody_id";


// header
	var fields = _data.fields;
	var fields_length = fields.length;

	elTR = document.createElement('tr');	
	for (var f=0; f < fields_length; f++) {
		elTD = document.createElement('th'); 
		elTD.innerHTML = fields[f].title;
		elTR.appendChild(elTD);	
	};
	elTBody.appendChild(elTR);	
	
	drawTableRows( elTBody, _data.data )

	elTable.appendChild(elTBody);	

	return elTable;	
};

function drawTableRows( elTBody, _rows ) {

	var _fields = GLOBAL_STATE['fields']
	var fields_length = _fields.length;

	var elTR, elTD;

	var row;
	for (var r = 0, rows_length = _rows.length; r < rows_length; r++ ) {	
		row = _rows[r];

		elTR = document.createElement('tr');	
		for (var f=0; f < fields_length; f++) {
			elTD = document.createElement('td'); 
			elTD.innerHTML = row[ f ];
			elTD.dataset['field'] = f;

			if (_fields[f].id != 'id') {
				elTD.className = _fields[f].type;
			};

			elTR.appendChild(elTD);	
		};
	
		elTBody.appendChild(elTR);	
	};
}

function editCell_Begin( _src_td ) {

	if (GLOBAL_STATE.isError) {
		return;
	};
//	#2014.08.25
	if (GLOBAL_STATE.isEditCell) {
		GLOBAL_STATE.nextCell = _src_td;
		return;
	};

	var strVal = _src_td.innerHTML;

	var elIn = document.createElement("INPUT");
	elIn.setAttribute("type", "text");
	elIn.value = strVal;
	elIn.className = _src_td.className;

	var elTR = _src_td.parentNode;
	elTR.replaceChild( elIn, _src_td );

	elIn.focus();
	elIn.select();


	GLOBAL_STATE.isEditCell = true;
	GLOBAL_STATE.current_td = _src_td;
	GLOBAL_STATE.current_input = elIn;


	// datepicker for cell
	if (_src_td.className == 'date') {
		var prevDate = GLOBAL_STATE.current_input.value;
		$(function() {
			$( GLOBAL_STATE.current_input ).datepicker( {
				onSelect: function(_date, _inst) {

					GLOBAL_STATE.isCellDatepicker = false;
					editCell_TrySaveFinish( );	
        		},
				onClose: function(_date, _inst) {

					if (GLOBAL_STATE.isCellDatepicker) {
						editCell_Cancel( );
					};
					GLOBAL_STATE.isCellDatepicker = false;
        		},
			});

			GLOBAL_STATE.isCellDatepicker = true;
			$( GLOBAL_STATE.current_input ).datepicker( "show" );
		});
	};

};

function editCell_TrySaveFinish( ) {
//	console.log( "editCell_TrySaveFinish in " );

	if (!GLOBAL_STATE.isEditCell) {
		return;
	};
	if ( GLOBAL_STATE.isCellDatepicker) {
		return;
	};


	var src_td = GLOBAL_STATE.current_td;
	var elIn = GLOBAL_STATE.current_input;
	if (elIn.value == src_td.innerHTML) {
		editCell_Cancel();
		return;
	};

	var elTR = elIn.parentNode;

	var nField = src_td.dataset['field'];
	var field_def = GLOBAL_STATE['fields'][nField];

	var field_name = field_def.id;
	var field_title = field_def.title;
	var field_type = src_td.className;
	var field_value = elIn.value;
	var row_id = elTR.firstChild.innerHTML;
//	var model = GLOBAL_STATE['model'];

//		console.log('blur');
	var values = [{ 
		'field': field_name, 
		'value': field_value,
//		'type': field_title,
		'type': field_type,
		'title': field_title, 
		'el': elIn
	}];

//	if ( isValidValues(values) ) {
	if ( isValidAndMarkError(values) ) {

		var data = {};
		for (var v=0, v_length=values.length; v < v_length; v++ ) {
			data[ values[v]['field'] ] = values[v]['value'];
		};

		$.ajax({
			url: 'ajax_change/' + GLOBAL_STATE['model'] + '/' + row_id + '/', 
			data: data,
//			dataType : "json",
			success: function  (_jsondata) {
//				console.log('editCell_TrySaveFinish success ');
				src_td.innerHTML = field_value;
				elTR.replaceChild( src_td, elIn );
				GLOBAL_STATE.isEditCell = false;
				GLOBAL_STATE.isError = false; // 2014.08.31
				if (GLOBAL_STATE.nextCell) {
					var temp_td = GLOBAL_STATE.nextCell;
					GLOBAL_STATE.nextCell = "";
					editCell_Begin( temp_td );
				};
			},
			error: function( xhr, status, errorThrown ) {
//				console.log('editCell_TrySaveFinish error ');
				GLOBAL_STATE.isError = true;
			},
		});
	}else{
//		console.log('editCell_TrySaveFinish isValidAndMarkError error ');
		GLOBAL_STATE.isError = true;
	};
};

function editCell_Cancel( ) {

	if (GLOBAL_STATE.isEditCell) {

		var elTR = GLOBAL_STATE.current_input.parentNode;
		elTR.replaceChild( GLOBAL_STATE.current_td, GLOBAL_STATE.current_input );

		GLOBAL_STATE.isEditCell = false;
		GLOBAL_STATE.isError = false;
	};
};

function drawFormAddNew(_data) {

//	console.log('drawAddNew 1');	

	var elForm = document.createElement('form');
	elForm.id = "AddNewForm"

//	elForm.dataset['model'] = _data.model;

	var fieldset = document.createElement('fieldset');
	elForm.appendChild(fieldset);	

	var legend = document.createElement('legend');
	legend.innerHTML = 'Новая запись';
	fieldset.appendChild(legend);	


//	console.log('drawAddNew 2');	

//	var fields = _data.structure.fields;
//	var fields = GLOBAL_STATE['fields'];
	var fields = _data.fields;
	var elDiv, elIn, elBr;
	for (var f=0, fields_length = fields.length; f < fields_length; f++) {

//		console.log('drawAddNew circle 1');	
		if (fields[f].id == 'id') {
			continue;
		};

		elDivRow = document.createElement("div");

		elText = document.createTextNode(fields[f]['title'] + ' ');

		elIn = document.createElement("input");
		elIn.setAttribute("type", "text");
		elIn.name = fields[f]['id'];
//		elIn.setAttribute("name", "fields[i].id");
		elIn.className = fields[f]['type'];
		elIn.dataset['title'] = fields[f]['title'];
		elIn.dataset['type'] = fields[f]['type'];

		elDivRow.appendChild(elText)
		elDivRow.appendChild(elIn)

//		elDiv = document.createElement("br");
//		elBr = document.createElement("br");

		fieldset.appendChild(elDivRow);	
//		fieldset.appendChild(elIn);	
//		fieldset.appendChild(elBr);	

//		console.log('drawAddNew circle 2');	
	};
/*
	elIn = document.createElement("input");
	elIn.setAttribute("type", "button");
	elIn.name = "AddButton";
	elIn.value = "Добавить";
	elIn.id = "AddNewButton";
*/
	elIn = document.createElement("input");
	elIn.setAttribute("type", "reset");
	elIn.name = "ResetButton";
	elIn.value = "Отмена";
	elIn.id = "NewRowReset";
	fieldset.appendChild(elIn);	

	elIn = document.createElement("input");
	elIn.setAttribute("type", "submit");
	elIn.name = "AddButton";
	elIn.value = "Добавить";
	elIn.id = "AddNewButton";
	fieldset.appendChild(elIn);	

	return elForm;
};

function draw_RightContent( root, _data) {

//	var root = $("right_content");
	var frag = document.createDocumentFragment();

	var root_div = document.createElement('div');

	var elTable = drawTable(_data);
	var elFormNew = drawFormAddNew(_data);

//	console.log('drawRight mid');	

	root_div.appendChild(elTable);
	root_div.appendChild( document.createElement('p') );
	root_div.appendChild(elFormNew);

	frag.appendChild(root_div)

	root.replaceChild( frag, root.firstChild );
};

function load_RightContent(_model) {

	$.ajax({
		url: 'ajax_get_list/' + _model,
		dataType : "json",
		success: function  (_json) {

			GLOBAL_STATE['model'] = _json.model;
			GLOBAL_STATE['fields'] = _json.fields
			GLOBAL_STATE.isEditCell = false;		
			GLOBAL_STATE.isError = false;		

			draw_RightContent( $("#right_content")[0], _json );

			// datepicker for form
			var form = $('#AddNewForm')[0];
			var field;
			for (var i=0, i_length = form.length; i < i_length; i++ ) {
				field = form.elements[i];
				if (( field.nodeName == 'INPUT') && (field.dataset['type'] == 'date') ) {
					$(function() {
						$( field ).datepicker();
					});
				};
			};
		},
		error: function( xhr, status, errorThrown ) {

		},
	});
};


function add_NewRow() {

	// validate
	var values = [];
	var form = $('#AddNewForm')[0];
	var field;
	for (var i=0, i_length = form.length; i < i_length; i++ ) {
		field = form.elements[i];
//		if (( field.nodeName == 'INPUT') && (field.className in {'int':0, 'char':0, 'date':0}) ) {
		if (( field.nodeName == 'INPUT') && (field.dataset['type'] in {'int':0, 'char':0, 'date':0}) ) {
			values.push( { 
					'field': field.name,
					'value': field.value, 
//					'type': field.className,
					'type': field.dataset['type'],
					'title': field.dataset['title'],
//					'el': field.parentNode,
					'el': field,
			});
		};
	};

//	if ( isValid( values ) ) {
	if ( isValidAndMarkError( values ) ) {

		var data = {};
		for (var v=0, v_length=values.length; v < v_length; v++ ) {
			data[ values[v]['field'] ] = values[v]['value'];
		};

		$.ajax({
			url: 'ajax_add/' + GLOBAL_STATE['model'] + '/', 
			data: data,
			dataType : "json",
			success: function  (_jsondata) {

				if (_jsondata['model'] !== GLOBAL_STATE['model']) {
					return;
				};
				form.reset();
				drawTableRows( $("#tbody_id")[0], _jsondata['data'] );
			},
			error: function( xhr, status, errorThrown ) {
//				console.log('add_NewRow error');
//				GLOBAL_STATE.isError = true;
			},
		});

	}else{

	};
};


$( "#left_content" ).on( "click", "a", function( _event ) {

	_event.preventDefault();
	var el_a = _event.target || _event.scrElement;

	var arHref = el_a.href.split( "/" );
	var model = arHref[ arHref.length - 2 ] ;

	load_RightContent( model );
});

$( "#right_content" ).on( "click", "td.int, td.char, td.date", function( _event ) {

	_event.preventDefault();
	var el_td = _event.target || _event.scrElement;

//	console.log('right click');
//	console.log(el_td);
	editCell_Begin( el_td );
});
$( "#right_content" ).on( "blur", "tr input.int, tr input.char, tr input.date", function( _event ) {

	_event.preventDefault();

//	if ( ! GLOBAL_STATE.isCellDatepicker) {
//		editCell_TrySaveFinish();
//	};
	editCell_TrySaveFinish();
});
$( "#right_content" ).on( "keydown", "tr input.int, tr input.char, tr input.date", function( _event ) {

	if (_event.keyCode == 27) { // ESC
		editCell_Cancel();
	}else if(_event.keyCode == 13) { // Enter
		editCell_TrySaveFinish();
	};
});
$( document ).on( "keydown", function( _e ) {

	if (_e.keyCode == 27) { // ESC
		editCell_Cancel();
	};
} );


//$( "#right_content" ).on( "click", "input#AddNewButton", function( _event ) {
//	console.log( "AddNewButton click" );
$( "#right_content" ).on( "submit", "#AddNewForm", function( _event ) {
//	console.log( "AddNewButton submit" );
	_event.preventDefault();

	add_NewRow();
});
$( "#right_content" ).on( "reset", "#AddNewForm", function( _event ) {
//	console.log( "AddNewForm reset" );

	$('#AddNewForm input').removeClass('error_field');
//	$('#AddNewForm div').removeClass('error_field');
});



var GLOBAL_STATE = { 
	'model': "",
	'fields': [],

	'isEditCell': false,
	'isError': false,
	'isCellDatepicker': false,
	'current_td': null,
	'current_input': null,
	'nextCell': null,
}; 


$("#left_content ul li:first a").trigger("click");

</script>
<body>

{% else %}
    <p>No dmodels are available.</p>
{% endif %}